mosestokenizer==1.0.0
nltk==3.3.0
numpy==1.14.5
olefile==0.45.1
Pillow==4.2.1
pycparser==2.18
python==3.6
scipy==1.1.0
six==1.11.0
spacy==2.0.12
torch==0.4.0
torchvision==0.2.1

# Web server:
Flask
flask-cors
